<p style="color: green"><%= notice %></p>

<h1>Calculadora de Inversiones</h1>
<br>

<table>
  <thead>
    <tr>
      <th class="cell">Moneda</th>
      <th class="cell">Balance Inicial</th>
      <th class="cell">Retorno Mensual</th>
      <th class="cell">Balance Anual Proyectado</th>
      <th class="cell">Balance Anual Proyectado en USD</th>
    </tr>
  </thead>
  <tbody>
    <% @cryptocoin_info.each do |info| %>
      <tr>
        <td class="cell" style="text-align: left !important;">
          <div>
            <%= image_tag "coins/#{info[:name].downcase}.png", class: "coin-image" %>
            <%= "#{info[:name]}" %>
          </div>
        </td>
        <td class="cell"><%= "#{info[:coin_symbol]} #{info[:initial_balance]}" %></td>
        <td class="cell"><%= "#{info[:monthly_return]} %" %></td>
        <td class="cell"><%= "#{info[:coin_symbol]} #{info[:annual_balance].round(2) if info[:annual_balance]}" %></td>
        <td class="cell"><%= info[:price_usd].present? ? "USD #{(info[:annual_balance] * info[:price_usd]).round(2)}" : "No se pudo obtener el valor" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn-style">
  <%= button_to "Exportar a CSV", csv_export_investments_path(format: :csv), method: :get, class: "btn btn-primary" %>
  <%= button_to "Exportar a JSON", json_export_investments_path(format: :json), method: :get, class: "btn btn-primary" %>
</div>
