<p style="color: green"><%= notice %></p>

<%= render @cryptocoin %>

<div>
  <%= link_to "Edit this cryptocoin", edit_cryptocoin_path(@cryptocoin) %> |
  <%= link_to "Back to cryptocoins", cryptocoins_path %>

  <%= button_to "Destroy this cryptocoin", @cryptocoin, method: :delete %>
</div>
